<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1005" Action="Error" />
    <Rule Id="SA1515" Action="Error" />
    <Rule Id="SA1200" Action="Error" />
    <Rule Id="SA1210" Action="Error" />
    <Rule Id="SA1201" Action="Error" />
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1202" Action="Error" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1503" Action="Error" />
    <Rule Id="SA1127" Action="Error" />
    <Rule Id="SA1133" Action="Error" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1648" Action="Error" />
    <Rule Id="SA1128" Action="Error" />
    <Rule Id="SA1605" Action="Error" />
    <Rule Id="SA1606" Action="Error" />
    <Rule Id="SA1607" Action="Error" />
    <Rule Id="SA1608" Action="Error" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1610" Action="Error" />
    <Rule Id="SA1611" Action="Error" />
    <Rule Id="SA1612" Action="Error" />
    <Rule Id="SA1613" Action="Error" />
    <Rule Id="SA1614" Action="Error" />
    <Rule Id="SA1615" Action="Error" />
    <Rule Id="SA1616" Action="Error" />
    <Rule Id="SA1600" Action="Warning" />
    <Rule Id="SA1601" Action="Error" />
    <Rule Id="SA1602" Action="Error" />
    <Rule Id="SA1604" Action="Error" />
    <Rule Id="SA1617" Action="Error" />
    <Rule Id="SA1618" Action="Error" />
    <Rule Id="SA1619" Action="Error" />
    <Rule Id="SA1620" Action="Error" />
    <Rule Id="SA1621" Action="Error" />
    <Rule Id="SA1622" Action="Error" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="Error" />
    <Rule Id="SA1625" Action="Error" />
    <Rule Id="SA1626" Action="Error" />
    <Rule Id="SA1627" Action="Error" />
    <Rule Id="SA1634" Action="Error" />
    <Rule Id="SA1635" Action="Error" />
    <Rule Id="SA1636" Action="Error" />
    <Rule Id="SA1637" Action="Error" />
    <Rule Id="SA1638" Action="Error" />
    <Rule Id="SA1639" Action="Error" />
    <Rule Id="SA1640" Action="Error" />
    <Rule Id="SA1641" Action="Error" />
    <Rule Id="SA1643" Action="Error" />
    <Rule Id="SA1649" Action="Error" />
    <Rule Id="SA1651" Action="Error" />
    <Rule Id="SX1101" Action="Error" />
    <Rule Id="SX1309" Action="Error" />
    <Rule Id="SX1309S" Action="Error" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1508" Action="Error" />
  </Rules>
</RuleSet>